<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
  </head>
  <body>

    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <header id="luxbar" class="luxbar-default">
      <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
      <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-cyan">
        <ul class="luxbar-navigation">
          <li class="luxbar-header">
            <label class="luxbar-hamburger luxbar-hamburger-doublespin"
              id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
          </li>
          <li class="luxbar-item"><a href="/">トップページ</a></li>
          <li class="luxbar-item"><a href="/about">MCBE-JPNについて</a></li>
          <li class="luxbar-item"><a href="/sites">関連サイト</a></li>
          <li class="luxbar-item"><a href="//github.com/MCBE-JPN">Github</a></li>
        </ul>
      </div>
    </header>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          このページは<a href="https://pages.github.com">GitHub Pages</a>でホスティングしています。<br>
          Menubar by <a href="https://github.com/balzss/luxbar">balzss/luxbar</a>
        </span>
      </footer>
    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112081828-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112081828-1');
    </script>

  </body>
</html>
